@media screen and (min-width: 320px) and (max-width: 768px){

    header{
        padding: 20px;
    }

    .autor{
        display: none;
    }

    main > h1{
        font-size: 4rem;
    }

    .convert{
        min-width: 320px;
    }

    .abas{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-block: 70px 50px;

    }

    .abas button{
        width: 150px;

    }

    .convert form{
        width: 370px;
        margin-top: 5px;
    }
    
}