<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor</title>

    <link rel="stylesheet" href="/public/style/dec-to-rom.css">

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- <script type="module" src="/public/scripts/Main.js" defer></script> -->
    <script src="/public/scripts/ScriptTest.js" defer></script>
</head>

<body>

    <div class="text">
        <div>
            <a href="/index.html">
                <span class="material-symbols-outlined">
                    arrow_back
                </span>
            </a>
        </div>
        <div>
            <p>Converta Algarismo decimais de base 10</p>
            <p>para Algarismos Romanos.</p>
        </div>
    </div>

    <div class="form">
        <input type="text" id='decimal' onInput="getValue()"
            placeholder="Insira valores decimais. exm: 10, 5, 2 etc...">
        <span class="input-response" contenteditable="true" id="span-decimal"></span>
        <!-- <button type="submit" id="btn-decimal-submit">Converter</button> -->
    </div>

</body>

</html>