<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor</title>

    <link rel="stylesheet" href="/public/style/dec-to-rom.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- <script type="module" src="/public/scripts/Main2.js" defer></script> -->
    <script src="/public/scripts/scriptTest2.js" defer></script>
    
</head>
<body>

    <div class="text">
        <div>
            <a href="/index.html">
                <span class="material-symbols-outlined">
                arrow_back
                </span>
            </a>
        </div>
        <div>
            <p>Converta Algarismo Romanos</p>
            <p>para Algarismos decimais de base 10.</p>
        </div>
    </div>

    <div class="form">
        <input type="text" placeholder="exm: XX, MXII, IV ...." id="roman" oninput="getValue()">
        <span class="input-response" contenteditable="true" id="Span-roman"></span>
        <!-- <button type="submit" id="btn-roman">Converter</button> -->
    </div>
    
</body>
</html>