.convert{
    margin: 4.5% auto 0 auto;
    max-width: 80rem;
    height: 570px;

    display: flex;
    flex-direction: column;
    align-items: center;

    // background-color: rgb(172, 130, 51);
    background-image: url(/assets/pexels-chait-goli-1797161.jpg);
    background-size: cover;
    border-radius: 15px 15px 0 0;

    .abas{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        gap: 45px;
        width: 100%;
        margin-block: 100px 100px;
    
        button {
            height: 60px;
            min-width: 180px;
            padding: 5px;
            outline: none;
            border: none;
            color: white;
            cursor: pointer;
            transition: all .9s;
        
            background-color: rgb(221, 221, 221);
            color: black;
        
        }
    
        .active{
            background-color: rgb(27, 20, 58);
            color: white;
        }
    
    }

    form{
        width: 550px;
        margin: 0 auto 15px auto;
    
        display: flex;
        flex-direction: column;
    
        input{
            height: 40px;
            width: 100%;
            outline: none;
            padding-inline: 10px;
            margin-block: 10px;
        }
    
        button{
            height: 40px;
            width: 100%;
            border: none;
            color: white;
            background-color: rgb(27, 20, 58);
            transition: all .8s;
            cursor: pointer;
    
            &:hover{
                background-color: rgb(10, 6, 27);
            }
        }
    
        p,
        span{
            color: white;
        }
    
        span {
            margin: 20px auto 0 auto;
            font-size: 2rem;
    
            &::before{
                content: "";
                display: block;
                width: 100%;
                background-color: white;
                border: none;
                border-radius: 5px;
                height: 3px;
            }
    
            &::after{
                content: "";
                display: block;
                width: 100%;
                background-color: white;
                border: none;
                border-radius: 5px;
                height: 3px;
            }
        }
    
    }
    
}